@{
    ViewBag.Title = "人事資訊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex">
    <div class="demobtnshow w-50 ui grey button disapear">
        <i class="icon user"></i>
        Demo
    </div>
    <div class="demobtn w-50 ui grey button disapear">
        <i class="icon user"></i>
        Demo
    </div>
</div>

@*------------------------------搜尋框起始------------------------------*@
@*<div class="mt-5 d-flex justify-content-center align-items-center">
        <div>
            <input type="search" name="searchbox" class="searchbox rounded-pill border-info pl-3 Regular shadow" placeholder="搜尋員工姓名..." />
        </div>
        <div class="ml-3">
            <button class="btn btn-primary rounded-pill searchbtn Regular shadow"><i class="fa fa-search mr-2"></i>搜尋</button>
        </div>
    </div>*@

<div class="d-flex justify-content-center">
    <div class="ui action input">
        <input type="text" class="searchbox" placeholder="搜尋員工姓名..." name="searchbox">
        <button class="ui searchbtn">
            <i class="search icon"></i>
        </button>
    </div>
</div>


<div class="ui fullscreen modal centermodal" id="searchinfo">
    <i class="close icon"></i>
    <div class="header">
        員工資訊搜尋結果
    </div>
    <div class="content ">
        <table class="w-100 table-striped rwd-table">
            <thead class="w-100 h-100">
                <tr>
                    <th class="pl-2">員工編號</th>
                    <th class="">信箱</th>
                    <th class="">中文姓名</th>
                    <th class="">性別</th>
                    <th class="">聯絡電話</th>
                    <th class="">部門</th>
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody class="SearchShowTable w-100 h-100">
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div>
            <button type="button" class="btn btn-secondary cancel searchclose">Close</button>
        </div>
    </div>
</div>



@*------------------------------搜尋框結束------------------------------*@
<div class="ui pointing secondary menu w-75 mx-auto">
    <a class="item active tabMenu" data-tab="first">註冊員工</a>
    <a class="item tabMenu" data-tab="second">員工資訊總表</a>
</div>

<div class="ui tab segment active w-75 mx-auto" data-tab="first">
    <h4 class="ui horizontal divider header mb-0">
        <i class="user icon"></i>註冊員工
    </h4>
    <form class="ui form px-5 pb-3 pt-5 font-weight-bolder w-75 mx-auto" id="AddEMPForm">
        <input type="hidden" class="addempid" />
        <div class="field">
            <div class="two fields">
                <div class="eight wide field">
                    <label class="formlbl">員工帳號／信箱：</label>
                    <input type="text" class="addemail w-100 formlbl" placeholder="E-mail" />
                </div>
                <div class="eight wide field">
                    <label class="formlbl">員工密碼：</label>
                    <input type="text" class="addpw formlbl" placeholder="Password" />
                </div>
            </div>
        </div>
        <div class="field">
            <div class="five fields">
                <div class="four wide field">
                    <label class="formlbl">中文姓名：</label>
                    <input type="text" class="addch formlbl" placeholder="Chinese-Name" />
                </div>
                <div class="one wide field">

                </div>
                <div class="four wide field">
                    <label class="formlbl">英文姓名：</label>
                    <input type="text" class="adden formlbl" placeholder="English-Name" />
                </div>
                <div class="one wide field">

                </div>
                <div class="four wide field">
                    <label class="formlbl">電話：  <span class="ErrorPhone"></span></label>
                    <input type="text" class="addphone formlbl" placeholder="Phone" onkeyup="return ValidateNumber($(this),value)" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="field">
            <div class="three fields">
                <div class="five wide field">
                    <label class="formlbl">性別：</label>
                    <select class="addsex formlbl">
                        <option value="性別" disabled selected>性別</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="five wide field">
                    <label class="formlbl">出生年月日：</label>
                    <input type="date" class="addbirth formlbl" placeholder="Birth" />
                </div>
                <div class="six wide field">
                    <label class="formlbl">婚姻狀況：</label>
                    <select class="addmerry formlbl">
                        <option value="婚姻狀況" disabled selected>婚姻狀況</option>
                        <option value="已婚">已婚</option>
                        <option value="未婚">未婚</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="three fields">
                <div class="eight wide field">
                    <label class="formlbl">居住地：</label>        
                </div>
                <div class="four wide field">
                    <label class="formlbl">薪資：<span class="ErrorSalery"></span></label>
                </div>
                <div class="four wide field">
                    <label class="formlbl">特休：<span class="ErrorVacation"></span></label>
                </div>
        </div>
            </div>
        <div class="field">
            <div class="CitySelect seven fields">
                <div class="three wide field">
                    <input type="text" class="addlive formlbl" hidden />
                    <select class="county formlbl"></select>
                </div>
                <div class="three wide field ">
                    <select class="district formlbl"></select>
                </div>
                <div class="two wide field ">
                    <input type="text" readonly class="zipcode formlbl">
                </div>
                <div class="three wide field ">                 
                    <input type="text" class="addpayment  formlbl" placeholder="$" onkeyup="return ValidateSalery($(this),value)" maxlength="7" />
                </div>
                <div class="one wide field d-flex flex-column-reverse ">
                    <label class="formlbl ">元 </label>
                </div>
                <div class="three wide field">             
                    <input type="text" class="addspvaction formlbl" placeholder="days" onkeyup="return ValidateVacation($(this),value)" maxlength="2" />
                </div>
                <div class="one wide field d-flex flex-column-reverse ">
                    <label class="formlbl">天</label>
                </div>

            </div>

         
            <input type="text" class="live formlbl" placeholder="Address">
        </div>
        <div class="field">
            <div class="four fields">
                <div class="four wide field">
                    <label class="formlbl">部門：</label>
                    <select class="addpart formlbl">
                        <option value="部門" disabled selected>部門</option>
                        <option value="財務部">財務部</option>
                        <option value="總務部">總務部</option>
                        <option value="人事部">人事部</option>
                        <option value="業務部">業務部</option>
                        <option value="工程部">工程部</option>
                    </select>
                </div>
                <div class="four wide field">
                    <label class="formlbl">職稱：</label>
                    <select class="addjob formlbl">
                        <option value="職稱" disabled selected>職稱</option>
                        <option value="主管">主管</option>
                        <option value="員工">員工</option>
                        <option value="人事">人事</option>
                    </select>
                </div>
                <div class="four wide field">
                    <label class="formlbl">受雇日期：</label>
                    <input type="date" class="addhire formlbl" placeholder="Date" />
                </div>
                <div class="four wide field">
                    <label class="formlbl">在職狀態：</label>
                    <select class="addstatus form-control shadow-sm formlbl">
                        <option value="在職狀況" disabled selected>在職狀況</option>
                        <option value="在職">在職</option>
                        <option value="離職">離職</option>
                        <option value="未到職">未到職</option>
                        <option value="留職停薪">留職停薪</option>
                    </select>
                </div>
            </div>
        </div>

            <div class="field">
                <div class="four fields">
                  
                </div>
            </div>

        <div class="field d-flex justify-content-center">

            <div class="demobtn1 w-25 ui green button" hidden>
                <i class="icon user"></i>
                Demo員工
            </div>
            <div class="demobtn2 w-25 ui green button" hidden>
                <i class="icon user"></i>
                Demo人事
            </div>
            <div class="demobtn3 w-25 ui green button" hidden>
                <i class="icon user"></i>
                Demo主管
            </div>
            <div class="AddEMP w-25 ui primary button">
                <i class="icon user"></i>
                確認送出
            </div>
            <input type="reset" class="resetform" hidden />
        </div>
    </form>
</div>
<div class="ui tab segment w-75 mx-auto" data-tab="second">
    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>員工資訊總表
    </h4>
    <div class="">
        <table class="bg-white table-hover table-striped text-nowrap table-borderless TotalWrap w-100 rwd-table">
            <thead>
                <tr>
                    <th class="">員工編號</th>
                    <th class="">信箱</th>
                    <th class="">中文姓名</th>
                    <th class="">性別</th>
                    <th class="">聯絡電話</th>
                    <th class="">部門</th>
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody id="tbodyadd">
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center pb-1 pt-3">
        <div id="PageNumber"></div>
    </div>
</div>
<div class="ui modal centermodal" id="EditProfile">
    <i class="close icon"></i>
    <div class="header">
        編輯員工資訊
    </div>
    <div class="content">
        <form class="ui form EditUserProfile "></form>
    </div>
    <div class="actions d-flex justify-content-center">
        <div>
            <button class="ui inverted primary button editsave">確認</button>
        </div>
        <div>
            <button class="ui inverted red button cancel ClearModal">關閉</button>
        </div>
    </div>
</div>
@*------------------------------編輯個人資訊結束------------------------------*@

@section script{
    <script>
        /* 驗證電話欄位*/
        function ValidateNumber(e, pnumber) {
            if (!/^\d+$/.test(pnumber)) {
                $(e).val(/^\d+/.exec($(e).val()));
                $('.ErrorPhone').html('<span class="text-danger">請輸入數字<i class="exclamation icon red"></i></span>');
            }
            else {
                $('.ErrorPhone').html('');
                return false;
            }
        }
        /*  驗證薪資欄位*/
        function ValidateSalery(e, pnumber) {
            if (!/^\d+$/.test(pnumber)) {
                $(e).val(/^\d+/.exec($(e).val()));
                $('.ErrorSalery').html('<span class="text-danger">請輸入數字<i class="exclamation icon red"></i></span>');
            }
            else {
                $('.ErrorSalery').html('');
                return false;
            }
        }
        /* 驗證特休天數*/
        function ValidateVacation(e, pnumber) {
            if (!/^\d+$/.test(pnumber)) {
                $(e).val(/^\d+/.exec($(e).val()));
                $('.ErrorVacation').html('<span class="text-danger">請輸入數字<i class="exclamation icon red"></i></span>');
            }
            else {
                $('.ErrorVacation').html('');
                return false;
            }
        }




        $('.tabMenu').tab();
        var TotalEMP = "";
        Refresh();
        //-------------------刷新頁碼+tab+內文 起始-------------------
        function Refresh() {
            $('#PageNumber').pagination({
                dataSource: function (done) {
                    $.ajax({
                        url: "/Home/HRShowEdit",
                        method: "get",
                        success: function (data) {
                            done(data);
                        },

                    })
                },
                callback: function (data) {
                    $("#tbodyadd").empty();
                    $(data).each(function (index, item) {
                        $("#tbodyadd").append(`<tr>
                                                            <td data-th="員工編號">${item.EmployeeID}</td>
                                                            <td data-th="信箱">${item.信箱}</td>
                                                            <td data-th="中文姓名">${item.中文姓名}</td>
                                                            <td data-th="性別">${item.性別}</td>
                                                            <td data-th="電話">${item.電話}</td>
                                                            <td data-th="部門">${item.部門}</td>
                                                            <td data-th="編輯"><a class="btn empedit btn-outline-primary button btnDetail" data-id="${item.EmployeeID}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()"><span>編輯</span></a></td>
                                                            <td data-th="刪除"><a class="btn btn-outline-danger button" data-id="${item.EmployeeID}" onclick="DeleteEMP()"><span>刪除</span></a></td>
                                                            </tr>`);
                    })
                }

            })
        };
        //----------------------編輯個人資訊起始----------------------
        function startedit() {
            $("#EditProfile").modal('show');
            $.ajax({
                url: "/Home/HREditt",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    $(".EditUserProfile").html(`
                                                                <div>
                                        <input type="hidden" name="EmployeePW" value="${data.EmployeePW}" />
                                        <input type="hidden" name="EmployeeID" value="${data.EmployeeID}" />
                                        <input type="hidden" name="信箱" value="${data.信箱}" />
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="eight wide field">
                                                <label class="formlbl">中文姓名：</label>
                                                <input name="中文姓名" type="text" class="w-100" value="${data.中文姓名}"/>
                                            </div>
                                            <div class="eight wide field">
                                                <label class="formlbl">英文姓名：</label>
                                                <input name="英文姓名"type="text" class="w-100" value="${data.英文姓名}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="three fields">
                                            <div class="five wide field">
                                                <label class="formlbl">性別：</label>
                                                 <input type="text"name="性別" value="${data.性別}" hidden/>
                                                <select disabled   class="ml-2 mt-2">
                                                    <option value="性別" selected>${data.性別}</option>
                                                </select>
                                            </div>
                                            <div class="five wide field">
                                                <label class="formlbl">出生年月日：</label>
                                                <input type="text" name="出生年月日" class="w-100" value="${data.出生年月日}" hidden/>
                                                <input type="text"  class="w-100" value="${data.出生年月日}" disabled/>
                                            </div>
                                            <div class="six wide field">
                                                <label class="formlbl">婚姻狀況：</label>
                                                <select name="婚姻狀況">
                                                    <option hidden>${data.婚姻狀況}</option>
                                                    <option value="已婚">已婚</option>
                                                    <option value="未婚">未婚</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="formlbl">居住地:</label>
                                        <input name="居住地" value="${data.居住地}" />
                                    </div>

                                    <div class="field">
                                        <div class="eighteen wide field">
                                            <label class="formlbl">電話：</label>
                                            <input type="text" name="電話" class="w-100" value="${data.電話}" >
                                        </div>

                                    </div>
                                    <div class="field">
                                        <div class="four fields">
                                            <div class="four wide field">
                                                <label class="formlbl">部門：</label>
                                                <select name="部門">
                                                    <option hidden>${data.部門}</option>
                                                    <option value="財部部">財部部</option>
                                                    <option value="總務部">總務部</option>
                                                    <option value="人事部">人事部</option>
                                                    <option value="業務部">業務部</option>
                                                </select>
                                            </div>
                                            <div class="four wide field">
                                                <label class="formlbl">職稱：</label>
                                                <select name="職稱">
                                                    <option hidden>${data.職稱}</option>
                                                    <option value="主管">主管</option>
                                                    <option value="員工">員工</option>
                                                    <option value="人事">人事</option>
                                                </select>
                                            </div>
                                            <div class="four wide field">
                                                <label class="formlbl">受雇日期：</label>
                                             <input type="text" name="受雇日期" class="w-100" value="${data.受雇日期}" hidden/>
                                                <input type="text"  class="w-100" value="${data.受雇日期}" disabled/>
                                            </div>
                                            <div class="four wide field">
                                                <label class="formlbl">在職狀態：</label>
                                                <select name="狀態">
                                                    <option hidden>${data.狀態}</option>
                                                    <option value="在職">在職</option>
                                                    <option value="離職">離職</option>
                                                    <option value="未到職">未到職</option>
                                                    <option value="留職停薪">留職停薪</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label class="formlbl">薪資：</label>
                                                <input name="薪資" class="Regular shadow" value="${data.薪資}" />
                                            </div>
                                            <div class="field">
                                                <label class="formlbl">特休：</label>
                                                <input name="特休" class="Regular shadow" value="${data.特休}" />
                                            </div>
                                        </div>
                                    </div>
                                                       `);
                }
            });
        };
        //----------------------編輯個人資訊結束----------------------
        //----------------------個人資訊存檔按鈕起始----------------------
        $(".editsave").click(function () {
            var 權限陣列 = [];
            if (decodeURI(document.cookie.split('Auth=')[1].split('&')[0]) == "人事") {
                權限陣列.push('總經理');
                權限陣列.push('主管');
                權限陣列.push('人事');
            }
            var form = document.querySelector(".EditUserProfile");
            var formData = new FormData(form);
            $.ajax({
                url: "/Home/HREdit",
                method: "Post",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    swal("編輯成功！", "編輯員工資訊", "success");
                    $.ajax({
                        url: "/Home/HRShowEdit",
                        method: "get",
                        success: function (data) {
                            $.connection.hub.start()
                                .done(function () {
                                    bell.server.sendGroup(`${1}`, `${decodeURI(document.cookie.split('Auth=')[1].split('&')[0])}`, `有新的人事異動！`, 權限陣列);   //傳值到hub
                                });
                            $(".ClearModal").click();
                            $("#tbodyadd").html("");
                            Refresh();
                        }
                    })
                }
            });
        })
        //----------------------個人資訊存檔按鈕結束----------------------
        //----------------------個人資訊新增按鈕起始----------------------

        $(".AddEMP").click(function () {
            var 權限陣列 = [];
            if (decodeURI(document.cookie.split('Auth=')[1].split('&')[0]) == "人事") {
                權限陣列.push('總經理');
                權限陣列.push('主管');
                權限陣列.push('人事');
            }
            var newpwd = $(".addpw").val();
            var reg = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[~!#$%^&*()_+`\-={}\[\]:";'<>?,.\/]).{4,16}$/;
            var flag = reg.test(newpwd);
            $(".addlive").val(`${$(".zipcode").val() + '   ' + $(".county").val() + $(".district").val() + $(".live").val()}`);
            if ($(".addemail").val() == '' ||
                $(".addpw").val() == '' ||
                $(".addch").val() == '' ||
                $(".adden").val() == '' ||
                $(".addsex").val() == '' ||
                $(".addphone").val() == '' ||
                $(".addbirth").val() == '' ||
                $(".addmerry").val() == '' ||
                $(".addhire").val() == '' ||
                $(".addpart").val() == '' ||
                $(".addjob").val() == '' ||
                $(".addpower").val() == '' ||
                $(".addyearpay").val() == '' ||
                $(".addspvaction").val() == '' ||
                $(".addpayment").val() == '' ||
                $(".addstatus").val() == '') {
                swal("員工註冊失敗", "欄位不可為空", "error");
            } else
                if (flag == false) {
                    swal("密碼驗證", "新密碼必須由 4-16位字母、數字、特殊符號線組成...", "error");
                    return false;
                }
                else {
                    $.ajax({
                        url: "/Home/HRAdd",
                        method: "post",
                        data: {
                            "信箱": $(".addemail").val(),
                            "EmployeeID": $(".addempid").val(),
                            "EmployeePW": $(".addpw").val(),
                            "中文姓名": $(".addch").val(),
                            "英文姓名": $(".adden").val(),
                            "性別": $(".addsex").val(),
                            "電話": $(".addphone").val(),
                            "出生年月日": $(".addbirth").val(),
                            "婚姻狀況": $(".addmerry").val(),
                            "居住地": $(".addlive").val(),
                            "受雇日期": $(".addhire").val(),
                            "部門": $(".addpart").val(),
                            "職稱": $(".addjob").val(),
                            "特休": $(".addspvaction").val(),
                            "薪資": $(".addpayment").val(),
                            "狀態": $(".addstatus").val()
                        },
                        success: function () {
                            $(".resetform").click();
                            swal("新增成功!", "員工資訊新增成功", "success");
                            $.ajax({
                                url: "/Home/HRShowEdit",
                                method: "get",
                                success: function (data) {
                                    $("#tbodyadd").html("");
                                    Refresh();
                                    $.connection.hub.start()
                                        .done(function () {
                                            bell.server.sendGroup(`${1}`, `${decodeURI(document.cookie.split('Auth=')[1].split('&')[0])}`, `有新的員工到職！`, 權限陣列);   //傳值到hub
                                        });

                                }
                            })

                        }
                    })
                }
        })
        //----------------------個人資訊新增按鈕結束----------------------
        //----------------------個人資訊總表刪除按鈕起始----------------------

        function DeleteEMP() {
            var 權限陣列 = [];
            if (decodeURI(document.cookie.split('Auth=')[1].split('&')[0]) == "人事") {
                權限陣列.push('總經理');
                權限陣列.push('主管');
                權限陣列.push('人事');
            }
            var id = $(event.currentTarget).data("id");
            swal({
                title: '刪除員工資訊？',
                text: '確定刪除該筆員工資訊嗎！',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            }).then((isConfirm) => {
                if (isConfirm) {
                    swal("刪除！", "員工資訊已刪除!...", 'success');
                    $.ajax({
                        url: "/Home/HRDelete",
                        method: "get",
                        data: {
                            "id": id
                        },
                        success: function () {
                            $.connection.hub.start()
                                .done(function () {
                                    bell.server.sendGroup(`${1}`, `${decodeURI(document.cookie.split('Auth=')[1].split('&')[0])}`, `有員工離職了！`, 權限陣列);   //傳值到hub
                                });
                            $.ajax({
                                url: "/Home/HRShowEdit",
                                method: "get",
                                success: function (data) {
                                    $("#tbodyadd").html("");
                                    Refresh();

                                }
                            })
                        }
                    })
                }
                else {
                    swal('取消！', "員工資訊已保留!...", 'info');
                }
                RefreshEdit();
            });

        }
        //----------------------個人資訊總表刪除按鈕結束----------------------
        //----------------------人事搜尋按鈕開始----------------------
        $(".searchbtn").click(function () {
            if ($(".searchbox").val() == "") {
                swal("查無會員資料", "請重新輸入", "error");
            } else {
                $.ajax({
                    url: "/Home/HRSearch",
                    data: {
                        "name": $(".searchbox").val()
                    },
                    success: function (data) {
                        if (data <= 1) {
                            $(".SearchShowTable").html("");
                            swal("查無會員資料", "請重新輸入", "error");
                        }
                        else {
                            $("#searchinfo").modal('toggle');
                            $(".SearchShowTable").html("");
                            $(data).each(function (index, item) {
                                $(".SearchShowTable").append(
                                    `<tr>
                                                        <td class="pl-3"data-th="員工編號">${item.EmployeeID}</td>
                                                        <td data-th="信箱">${item.信箱}</td>
                                                        <td data-th="中文姓名">${item.中文姓名}</td>
                                                        <td data-th="性別">${item.性別}</td>
                                                        <td data-th="電話">${item.電話}</td>
                                                        <td data-th="部門">${item.部門}</td>
                                                        <td data-th="編輯"><a class="btn empedit btn-outline-primary button btnDetail" data-id="${item.EmployeeID}" onclick="startedit()"><span>編輯</span></a></td>
                                                        <td data-th="刪除"><a class="btn btn-outline-danger button" data-id="${item.EmployeeID}" onclick="DeleteEMP()"><span>刪除</span></a></td>
                                                    </tr>`);
                            })
                        }
                        $(".searchbox").val('');
                    }

                })
            }

        });
        //----------------------人事搜尋按鈕結束----------------------
        new TwCitySelector({
            el: ".CitySelect", // 同 DOM querySelector()
            elCounty: ".county",
            elDistrict: ".district",
            elZipcode: ".zipcode"
        });

        /*DEMO員工*/
        $(".demobtn1").click(function () {
            $(".addemail").val('gg75857@gmail.com');
            $(".addpw").val('Aa0245!');
            $(".addch").val('王曉明');
            $(".adden").val('Xiao Ming Wang');
            $(".addsex").val('男');
            $(".addphone").val('0987858525');
            $(".addbirth").val('1993-03-24');
            $(".addmerry").val('已婚');
            $(".addhire").val('2011-03-24');
            $(".addjob").val('員工');
            $(".addspvaction").val('3');
            $(".addpayment").val('32000');
            $(".addstatus").val('在職');
            $(".addpart").val('財務部');
            $(".live").val('100 台北市中正區八德路一段32號5樓')
            $(".addlive").val(`${$(".zipcode").val() + '   ' + $(".county").val() + $(".district").val() + $(".live").val()}`);

        });
        /* DEMO人事*/
        $(".demobtn2").click(function () {
            $(".addemail").val('chichi77@gmail.com');
            $(".addpw").val('Aa0245!');
            $(".addch").val('林小琪');
            $(".adden").val('Chi Chi Lin');
            $(".addsex").val('女');
            $(".addphone").val('0975444985');
            $(".addbirth").val('1993-01-27');
            $(".addmerry").val('未婚');
            $(".addhire").val('2021-04-14');
            $(".addjob").val('人事');
            $(".addspvaction").val('3');
            $(".addpayment").val('29000');
            $(".addstatus").val('在職');
            $(".addpart").val('人事部');
            $(".live").val('100 台北市中正區重慶南路1段108號3樓')
            $(".addlive").val(`${$(".zipcode").val() + '   ' + $(".county").val() + $(".district").val() + $(".live").val()}`);

        });

        /* DEMO主管*/
        $(".demobtn3").click(function () {
            $(".addemail").val('fungray@gmail.com');
            $(".addpw").val('Aa0245!');
            $(".addch").val('張豐瑞');
            $(".adden").val('Chung Fung Ray');
            $(".addsex").val('男');
            $(".addphone").val('0939754987');
            $(".addbirth").val('1983-07-27');
            $(".addmerry").val('未婚');
            $(".addhire").val('2003-02-24');
            $(".addjob").val('主管');
            $(".addspvaction").val('3');
            $(".addpayment").val('61000');
            $(".addstatus").val('在職');
            $(".addpart").val('總務部');
            $(".live").val('116 台北市文山區興隆路二段153巷6弄7號2樓')
            $(".addlive").val(`${$(".zipcode").val() + '   ' + $(".county").val() + $(".district").val() + $(".live").val()}`);

        });
        $(".demobtn").click(function () {
            $(".demobtn3").attr('hidden', true);
            $(".demobtn2").attr('hidden', true);
            $(".demobtn1").attr('hidden', true);

        });
        $(".demobtnshow").click(function () {
            $(".demobtn3").attr('hidden', false);
            $(".demobtn2").attr('hidden', false);
            $(".demobtn1").attr('hidden', false);
        });
    </script>
}


